@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Questrial&display=swap');

.App {
  font-family: 'Questrial', sans-serif;
  text-align: center;
  overflow-x: hidden;
}

.body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  
}